/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.i-main-card {
  @apply w-full h-full bg-white rounded-2xl shadow-2xl py-2 px-5 gap-3 flex flex-col;
}

.i-title-and-content {
  @apply w-full flex flex-col gap-2;
}

.i-hr {
  border-color: #eceff1;
  border-style: solid;
  border-width: 1px;
}

.i-color-primary {
  @apply !bg-[#188083];
}
